[Unit]
Description=Check for updates to Flask apps

[Service]
Type=oneshot
ExecStart=/usr/local/bin/check-flask-updates.fish

[Install]
WantedBy=default.target
