[Unit]
Description=Flask Server Application
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/fabio/repos/tulip/packages/server/src/
ExecStart=/home/fabio/.local/bin/uv run server.py
Restart=always
RestartSec=5
Environment=FLASK_APP=server.py
Environment=FLASK_ENV=production

[Install]
WantedBy=default.target
