[Unit]
Description=LocalTunnel Client Connection
After=network.target tulip-client.service

[Service]
Type=simple
ExecStart=/home/fabio/repos/rasp-utilities/tulip/run-localtunnel.fish
WorkingDirectory=/home/fabio
Environment=HOME=/home/fabio
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
