[Unit]
Description=Flask Client Application
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/fabio/repos/tulip/packages/client/src/
ExecStart=/home/fabio/.local/bin/uv run client.py
Restart=always
RestartSec=5
Environment=FLASK_APP=client.py
Environment=FLASK_ENV=development

[Install]
WantedBy=default.target
