[Unit]
Description=Check for updates to Flask apps

[Service]
Type=oneshot
ExecStart=/home/fabio/repos/rasp-utilities/tulip/check-tulip-updates.fish

[Install]
WantedBy=default.target
